body {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  font-size: 14px;
}

li {
  list-style-type: none;
  padding-right: 200px;
}

#linha-horizontal {
  width: 620px;
  border: 0.05rem solid #c8c8c8;
}


.buttonAdd {
  background-color: #0073ff;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  line-height: 20px;
  vertical-align: center;
  width: 50px;
  cursor: pointer;
}

.material-symbols-outlined {
  color: #c8c8c8;
  vertical-align: middle;
  padding: 0px 0px 0px 360px;
  font-weight: 200;
}

[type="checkbox"]{
  width: 14px;
  height: 14px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  vertical-align: middle;
}

[type="checkbox"]:checked {
  background-color: #0073ff;
}

[type="checkbox"]:checked + .textCode {
  text-decoration: line-through;
  color: #c8c8c8;
}


.buttonDelete {
  width: 100px;
  background-color: #e04646;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  line-height: 20px;
  vertical-align: center;
  justify-content: right;
  position: relative;
    left: 530px;
  cursor: pointer;

}
